
.a{
    height: 300px;
    font-size: 30px;
    text-align: center;
}

.header{
    height: 100px;
    line-height: 100px;
    text-align: center;
    font-size: 32px;
    font-weight: 600;
    opacity: 1;
}